; Open Road 1

; --- Move weapon spawns into saferoom.
filter:
{
	"hammerid" "82666"
}
{
	"hammerid" "383075"
}
add:
{
	"classname" "weapon_spawn"
	"origin" "-819.853 442.978 65"
	"angles" "0 50 270"
	"solid" "6"
	"weapon_selection" "any_smg"
	"count" "5"
	"spawnflags" "14"
}
{
	"classname" "weapon_spawn"
	"origin" "-865 462 67"
	"angles" "0 -60 -90"
	"solid" "6"
	"weapon_selection" "tier1_shotgun"
	"count" "5"
	"spawnflags" "14"
}